
/* styles.css */

/* Left sidebar width */
.sidebar {
  width: 400px;   /* increase or decrease */
}

/* Main content adjusts automatically in most themes */

.navbar.navbar-expand-lg {
  position: sticky;
  top: 0;
  z-index: 9999;
}